.container {
  margin: 0 auto;
  max-width: $grid-length * 1px;
  
  &--fluid {
    max-width: 100%;
    display: flex; 
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;

    &--v-center {
      align-items: center;
    }
  }
  
  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &--center{
    justify-content: center; 
  }

  &--space-between{
    justify-content: space-between;
  }

  &--space-evenly{
    // For Browser fallback
    justify-content: space-between;
    justify-content: space-evenly;
  }
}

@for $i from 1 through $grid-cols {
  .col-#{$i} {
    box-sizing: border-box;
    flex-basis: (100 / ($grid-cols / $i)) * 1%;
    max-width: (100 / ($grid-cols / $i)) * 1%;
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

// In seperate loops due to specificity
@for $i from 1 through $grid-cols {
  $sizesmq:  sm, md, lg, xl; 

  @each $mq, $size in $sizesmq {
    .col-#{$i}\@#{$mq} {
      @include breakpoint-min($mq) {
        box-sizing: border-box;
        flex-basis: (100 / ($grid-cols / $i)) * 1%;
        max-width: (100 / ($grid-cols / $i)) * 1%;
        padding-right: .5rem;
        padding-left: .5rem;
      }
    }
  }
}

.u-flex-grow {
  flex-grow: 1;
}

.o-flex-al-stretch {
  align-items: stretch;
}

.o-flex-al-self-bottom {
  align-self: flex-end;
}

.u-flex--row-reverse {
  flex-direction: row-reverse;
}

// Todo: Create mix in for this
.flex-column-mobile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include breakpoint-max(md) {
    flex-direction: column;
    align-items: center;  
  }
}

.flex-column-tablet {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include breakpoint-max(lg) {
    flex-direction: column;
    align-items: center;  
  }
}

.u-dis-flex {
  display: flex;
}

.u-no-wrap {
  @include breakpoint-min(md) {
    flex-wrap: nowrap;
  }
}