
img {
  max-width: 100%;
}

button {
  display: block; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%; 
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: 50px;
  font-size: 13px; 
  @include breakpoint-min(md) {
    font-size: 14px;
  }
  @include breakpoint-min(lg) {
    font-size: 16px;
  }
}